body
{
    font-family: Helvetica;
}

.blokgora1{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 60%;
    height: 170px;
}

.blokgora2{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
    display: flex;
    float: right;
}

.baner{
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
}

.stopka{
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
}

.blokmain1{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
}

.blokmain2{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: right;
}

table, td{
    border-style: dotted;
    border-width: 2px;
    border-color: green;
    margin: 30px;
}

.naglowek{
    word-spacing: 20px;
    font-size: 250%;
}

