body
{
    font-family: Helvetica;
}

section
{
    display: flex;
}

.blokgora1, .blokgora2{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
}

.baner{
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
}

footer{
    background-color: rgb(100, 61, 49);
    color: white;
    text-align: center;
    height: 80px;
    padding: 5px;
}

.blokmain1{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: left;
}

.blokmain2{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
    float: right;
}

table, td{
    border-style: dashed;
    border-width: 2px;
    border-color: green;
    padding: 20px;
    margin: 30px;
}

h1{
    letter-spacing: 20px;
    font-size: 250%;
}

.zamowienie{
    background-image: url(cukierki1.jpg);
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
}

